.calculator-container {
    height: 480px;
    width: 350px;
    background-color: rgb(45, 40, 50);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 80px;
}

.logo {
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
}

#txt {
    width: 320px;
    height: 50px;
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(170, 180, 142);
    font-size: 40px;
    border-radius: 10px;
}

.item {
    background-color: rgb(45, 40, 50);
    width: 60px;
    height: 50px;
    font-size: 15px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #808080;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0.2px #3e3d3d;
    color: whitesmoke;
}

.item:hover {
    box-shadow: 0 2px 5px white;
    transition: 0.5s;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bg-green {
    background-color: rgb(122, 201, 43);
}

.box1 {
    background-color: rgb(45, 40, 50);
    height: 350px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}

.logo1 {
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-left: 15px;
}

.input-box {
    display: block;
    margin-left: 60px;
    margin-top: 20px;
    height: 30px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 10px;
}

#sum {
    color: white;
    font-size: xx-large;
    text-align: center;
}

.calc {
    display: block;
    margin-left: 135px;
    height: 40px;
    width: 80px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(111, 195, 94);
    cursor: pointer;
}

.reset {
    display: block;
    margin-left: 145px;
    margin-top: 5px;
    height: 30px;
    width: 60px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(198, 99, 99);
    cursor: pointer;
}